<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{entreprise.name}}">
  <ion-content class="padding">
    <img ng-src="{{entreprise.logo}}" style="width: 64px; height: 64px">
    <p>
      Descrition : {{entreprise.denomination}}
    </p>
    <p>
      Responsable : {{entreprise.responsable}}
    </p>

    <p>
      Delegation : {{entreprise.delegation}}
    </p>

    <p>
      Site web : <a href="'{{entreprise.url}}'">site</a>
    </p>

    <p>
      Mail : {{entreprise.email}}
    </p>

    <p>
      Tel : {{entreprise.telephone}}
    </p>

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-marker coords="marker4.coords" options="marker4.options" events="marker4.events" idkey="marker4.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
