<ion-view view-title="A propos">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"> </div>
      <div class="item item-body">
        <div>
          Ce projet est réalisé dans le cadre d'un projet de fin d'étude en collaboration avec :

          <ion-list>
            <ion-item>
              Slim Hichri
            </ion-item>
            <ion-item>
              Marouen
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
