<ion-view view-title="Entreprises">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in lists" type="item-text-wrap" href="#/tab/list/{{chat.id}}">
                <img ng-src="{{chat.logo}}">
                <h2>{{chat.name}}</h2>
                <p>{{chat.denomination}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
